body {
  min-width: 1200px;
  background-color: #849d8f;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  color: #ffffff;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.main-header,
.slider,
.index-main,
.catalog-main,
.index-footer {
  width: 1146px;
  margin-left: auto;
  margin-right: auto;
}

.cite-navigation,
.user-navigation,
.breadscrumbs-menu,
.social-list {
  list-style-type: none;
}

.add-button,
.add-bonus,
.send-button,
.feedback-button,
.filter-button {
  color: #ffffff;
}

.main-navigation {
  display: flex;
  padding-top: 10px;
}

.cite-navigation {
  display: flex;
  line-height: 18px;
}

.user-navigation {
  display: flex;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.slider {
  position: relative;
  height: 574px;
  text-align: center;
}

.time-contact {
  display: flex;
  flex-direction: column;
  margin-left: 950px;
  margin-bottom: 250px;
}

.work-hours {
  font-size: 14px;
  line-height: 16px;
}

.telephone {
  font-size: 22px;
  line-height: 24px;
}

.slide1 {
  position: absolute;
  width: 1146px;
  height: 574px;
  background-image: url("../img/ice-cream1.png"),
                    url("../img/ice-cream2.png");
  background-repeat: no-repeat;
  background-position: 250px 10px,
                       565px 53px;
}

.slide2 {
  position: relative;
  width: 1146px;
  height: 574px;
  visibility: hidden;
}

.slide3 {
  position: relative;
  width: 1146px;
  height: 574px;
  visibility: hidden;
}

.slider p {
  font-size: 60px;
  line-height: 60.35px;
}

.slider .add-button {
  font-size: 32px;
  line-height: 44px;
}

.offers {
  display: flex;
  justify-content: space-between;
  background-image: url("../img/ice-cream1.png");
  background-repeat: no-repeat;
  background-position: 250px -565px;
  margin-bottom: 39px;
}

.offers h3 {
  margin: 0;
  font-size: 35px;
  line-height: 41px;
  margin-bottom: 15px;
}

.offers p {
  margin: 0;
  font-size: 18px;
}

.raspberry-bonus {
  box-sizing: border-box;
  width: 560px;
  height: 230px;
  margin: 0;
  padding-top: 16px;
  padding-left: 19px;
  padding-right: 22px;
  background-image: url("../img/raspberry-background.png");
  background-repeat: no-repeat;
}

.chocolate-bonus {
  box-sizing: border-box;
  width: 560px;
  height: 230px;
  margin: 0;
  padding-top: 16px;
  padding-left: 19px;
  padding-right: 22px;
  background-image: url("../img/chocolate-background.png");
  background-repeat: no-repeat;
}

.add-bonus {
  font-size: 18px;
  line-height: 24px;
}

.hit-catalog {
  display: flex;
  justify-content: space-between;
  width: 1146px;
  height: 322px;
  margin-bottom: 40px;
}

.hit-item {
  padding: 0;
  margin: 0;
  width: 267px;
  position: relative;
}

.hit-item::before {
  content: "";
  position: absolute;
  width: 61px;
  height: 61px;
  background-image: url("../img/hit.svg");
  top: 0;
  left: 0;
  z-index: 1;
}

.hit-item-pic {
  position: absolute;
}

.hit-item-text {
  position: absolute;
  top: 220px;
}

.hit-item-text p {
    text-align: center;
    margin-top: 27px;
}

.hit-item-text b,
.catalog-item b {
  font-size: 45px;
  text-shadow: 1px 1px 1px #323232;
}

.ruble {
  font-size: 44px;
  padding-left: 3px;
  padding-right: 1px;
}

.kilo {
  font-size: 32px;
}

.hit-item-text p,
.catalog-item p {
  font-weight: 500;
}

.about-us,
.main-index-footer,
.news a,
.adress {
  color: #323232;
}

.about-us {
  box-sizing: border-box;
  width: 1146px;
  height: 310px;
  background-image: url("../img/waffle-background.png");
  background-repeat: no-repeat;
  margin-bottom: 36px;
}

.about-us h2 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  padding-top: 25px;
  padding-left: 19px;
  margin: 0;
  margin-bottom: 21px;
}

.facts {
  display: flex;
  flex-wrap: wrap;
}

.about-us p {
  box-sizing: border-box;
  width: 560px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 23px;
}

.production-fact {
  position: relative;
  padding-left: 75px;
}

.production-fact::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  background-image: url("../img/ice-cream.svg");
  background-repeat: no-repeat;
  top: -13px;
  left: 20px;
}

.ingredient-fact {
  position: relative;
  padding-left: 83px;
}

.ingredient-fact::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  background-image: url("../img/cow.svg");
  background-repeat: no-repeat;
  top: -13px;
  left: 25px;
}

.milk-fact {
  position: relative;
  padding-left: 75px;
}

.milk-fact::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  background-image: url("../img/eco.svg");
  background-repeat: no-repeat;
  top: -13px;
  left: 20px;
}

.delivery-fact {
  position: relative;
  padding-left: 83px;
}

.delivery-fact::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  background-image: url("../img/thermometer.svg");
  background-repeat: no-repeat;
  top: -13px;
  left: 25px;
}

.main-index-footer {
  display: flex;
  justify-content: space-between;
}

.news {
  box-sizing: border-box;
  width: 560px;
  height: 230px;
  margin: 0;
  padding: 0;
  padding-top: 23px;
  padding-left: 19px;
  padding-right: 22px;
  background-image: url("../img/strawberry-background.png");
  background-repeat: no-repeat;
}

.news h4 {
  font-weight: 400;
  margin: 0;
  padding: 0;
  margin-bottom: 3px;
}

.news a {
  font-size: 24px;
  line-height: 30px;

}

.subscription {
  box-sizing: border-box;
  width: 560px;
  height: 230px;
  margin: 0;
  background-image: url("../img/post-background.png");
  background-repeat: no-repeat;
}

.subscription-form {
  box-sizing: border-box;
  width: 550px;
  height: 210px;
  padding-top: 13px;
  padding-left: 22px;
  padding-right: 22px;
  margin: 5px;
  border-radius: 10px;
  background-color: #f8f7f4;
}

.subscription-form p {
  font-weight: 400;
}

.send-button {
  font-size: 18px;
  line-height: 24px;
}

.breadscrumbs-menu {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}

.breadscrumbs-menu a,
.paginator a {
  text-decoration: none;
  color: #ffffff;
}

.catalog-main h1 {
  font-size: 35px;
  line-height: 41px;
}

.filter-label {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.filters p {
  line-height: 18px;
  font-weight: 500;
}

.filter-button {
  line-height: 18px;
  font-weight: 500;
}

.paginator {
  line-height: 18px;
  font-weight: 500;
}

.adress h5,
.adress span {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.feedback-button {
  font-size: 18px;
  line-height: 24px;
}

.index-footer {
  font-size: 14px;
  font-weight: 400;
}
