body {
  min-width: 1200px;
  background-color: #849d8f;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  color: #ffffff;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.main-header,
.slider,
.index-main,
.catalog-main,
.footer-flex-wrapper {
  width: 1146px;
  margin-left: auto;
  margin-right: auto;
}

.cite-navigation,
.catalog-list,
.user-navigation,
.breadscrumbs-menu,
.social-list {
  list-style-type: none;
}

.add-button,
.bonus-button,
.send-button,
.feedback-button,
.filter-button,
.enter-button,
.modal-window-button {
  background: linear-gradient(to bottom, #f16743, #e84c36);
  text-shadow: 0 2px 2px #c63d24;
  box-shadow: 0 2px 2px 0 #ab5948;
  color: #ffffff;
  border: none;
  cursor: pointer;
  outline: none;
}

.slider .add-button:hover,
.bonus-button:hover,
.send-button:hover,
.feedback-button:hover,
.enter-button:hover,
.modal-window-button:hover {
  background: linear-gradient(to bottom, #f58669, #ec6f5e);
  box-shadow: 0 2px 2px 0 #ac1000;
  text-shadow: 0 2px 2px #d95f49;
}

.slider .add-button:active,
.bonus-button:active,
.send-button:active,
.feedback-button:active,
.enter-button:active,
.modal-window-button:active {
  background: linear-gradient(to bottom, #e84c36, #f16743);
  box-shadow: inset 0 2px 2px 0 #952718;
}

.main-navigation {
  display: flex;
  margin-top: 10px;
}

.main-navigation-logo {
  padding: 0;
  margin: 0;
}

.cite-navigation {
  display: flex;
  justify-content: space-between;
  width: 390px;
  line-height: 18px;
  font-weight: 400;
  padding: 0;
  margin: 0;
  margin-top: 13px;
  margin-left: 11px;
  margin-right: 300px;
}

.cite-navigation > li {
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
  text-decoration: underline;
  height: 32px;
  border-radius: 50px;
  padding-left: 15px;
  padding-right: 13px;
  padding-top: 6px;
}

.cite-navigation > li:hover {
  color: #000000;
  text-decoration: none;
  background-color: #f8f7f4;
}

.cite-navigation > li:active {
  color: #000000;
  text-decoration: none;
  background-color: #f8f7f4;
  box-shadow: inset 0 2px 2px 0 #696969;
}

.menu-catalog:hover .catalog-list {
  display: block;
}

.menu-catalog:active .catalog-list {
  display: block;
}

.catalog-list {
  box-sizing: border-box;
  position: absolute;
  top: 37px;
  left: -8px;
  width: 143px;
  height: 171px;
  border-radius: 5px;
  background-color: #f8f7f4;
  padding: 0;
  margin: 0;
  box-shadow: 0 15px 40px 0 #5c6e64;
  z-index: 1;
  display: none;
}

.catalog-list a {
  color: #000000;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
}

.catalog-list li {
  box-sizing: border-box;
  position: relative;
  padding-left: 20px;
}

.new-items {
  height: 38px;
  border-radius: 5px 5px 0 0;
  padding-top: 9px;
  margin-bottom: 1px;
}

.cream-items {
  height: 33px;
  padding-top: 9px;
}

.sherbet-items {
  height: 33px;
  padding-top: 6px;
}

.fruitice-items {
  height: 33px;
  padding-top: 5px;
}

.melorin-items {
  height: 33px;
  border-radius: 0 0 5px 5px;
  padding-top: 3px;
}

.catalog-list li:hover {
  background-color: #fbded7;
}

.catalog-list li:active {
  background-color: #f6b5a5;
}

.catalog-list .active {
  background-color: #d07058;
}

.catalog-list .active-link {
  color: #ffffff;
}

.catalog-list li:first-child::after {
  content: "";
  position: absolute;
  top: 38px;
  right: 8px;
  width: 128px;
  height: 1px;
  background: #d1d0ce;
}

.user-navigation {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  width: 266px;
  height: 32px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.search {
  position: relative;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  background-image: url("../img/loupe.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.search-form {
  position: absolute;
  top: 34px;
  right: 0;
  width: 342px;
  height: 86px;
  border-radius: 5px;
  background-color: #f8f7f4;
  box-shadow: 0 15px 40px 0 #5c6e64;
  z-index: 1;
  display: none;
}

.search-field {
  box-sizing: border-box;
  width: 310px;
  height: 44px;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
  padding-left: 13px;
  margin-top: 21px;
  margin-left: 15px;
  outline: none;
}

.search:hover {
  background-color: #fff;
  background-image: url("../img/loupe-black.svg");
}

.search:hover .search-form,
 .search:active .search-form {
  display: block;
}

.enter {
  box-sizing: border-box;
  position: relative;
  width: 93px;
  height: 32px;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.2);
  padding-top: 8px;
  padding-left: 44px;
}

.enter::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 20px;
  background: url("../img/entrance.svg") no-repeat;
  top: 6px;
  left: 17px;
}

.enter:hover .enter-form,
 .enter:active .enter-form {
  display: block;
}

.enter-form {
  box-sizing: border-box;
  position: absolute;
  top: 34px;
  right: 0;
  width: 277px;
  height: 214px;
  border-radius: 5px;
  background-color: #f8f7f4;
  box-shadow: 0 15px 40px 0 #5c6e64;
  z-index: 1;
  display: none;
}

.full-width {
  margin-bottom: 20px;
}

.email-field,
.password-field {
  box-sizing: border-box;
  width: 240px;
  height: 44px;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
  padding-left: 13px;
  margin-top: 21px;
  margin-left: 19px;
  outline: none;
}

.half-width {
  display: flex;
  margin-left: 19px;
}

.enter-button {
  width: 100px;
  height: 45px;
  border-radius: 15px 15px;
  font-size: 18px;
  line-height: 24px;
  margin-right: 20px;
}

.help {
  display: flex;
  flex-direction: column;
}

.help a {
  color: #000000;
  font-size: 13px;
  line-height: 21px;
  font-weight: 400;
}

.enter:hover,
.cart:hover {
  background-color: #fff;
  color: #323232;
}

.enter:hover::before {
  background: url("../img/entrance-black.svg") no-repeat;
}

.cart {
  box-sizing: border-box;
  position: relative;
  width: 116px;
  height: 32px;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.2);
  padding-top: 8px;
  padding-left: 44px;
}

.cart::before {
  content: "";
  position: absolute;
  width: 21px;
  height: 20px;
  background: url("../img/basket.svg") no-repeat;
  top: 6px;
  left: 16px;
}

.cart:hover::before {
  background: url("../img/basket-black.svg") no-repeat;
}

.slider {
  position: relative;
  height: 574px;
  text-align: center;
}

.time-contact {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: 975px;
  margin-bottom: 274px;
}

.work-hours {
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 4px;
}

.telephone {
  font-size: 22px;
  line-height: 24px;
}

.slide1 {
  position: absolute;
  width: 1146px;
  height: 574px;
}

.shadow1 {
  position: absolute;
  top: 120px;
  left: 460px;
  width: 40px;
  height: 320px;
  transform: rotate(152deg);
  border-radius: 50%;
  background-color: #cdf4df;
  box-shadow: 0 0 250px 150px #cdf4df;
  z-index: -2;
}

.shadow2 {
  position: absolute;
  top: 140px;
  left: 700px;
  width: 40px;
  height: 320px;
  transform: rotate(25deg);
  border-radius: 50%;
  background-color: #cdf4df;
  box-shadow: 0 0 200px 100px #cdf4df;
  z-index: -2;
}

.cream-brule,
.raspberry-jam {
  position: absolute;
}

.cream-brule {
  top: 9px;
  left: 250px;
  z-index: -1;
}

.raspberry-jam {
  top: 52px;
  right: 249px;
  z-index: -2;
}

.slide1 p {
  font-size: 60px;
  line-height: 60.35px;
  width: 700px;
  text-align: center;
  padding: 0;
  margin: 0;
  margin-bottom: 29px;
  margin-left: 224px;
}

.slide2 {
  position: relative;
  width: 1146px;
  height: 574px;
  visibility: hidden;
}

.slide3 {
  position: relative;
  width: 1146px;
  height: 574px;
  visibility: hidden;
}

.slider .add-button {
  width: 280px;
  height: 63px;
  border-radius: 50px;
  padding-left: 8px;
  padding-bottom: 3px;
  font-size: 32px;
  line-height: 44px;
}

.slider-pagination {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 79px;
  height: 21px;
  bottom: 63px;
  cursor: pointer;

}

.slider-pagination-dot {
  box-sizing: border-box;
  width: 21px;
  height: 21px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  outline: none;
}

.slider-pagination-dot:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.slider-pagination-dot-active,
.slider-pagination-dot-active:hover,
.slider-pagination-dot:active {
  background: #ffffff;
}

.offers {
  display: flex;
  justify-content: space-between;
  margin-bottom: 39px;
}

.offers h3 {
  margin: 0;
  font-size: 35px;
  line-height: 41px;
  margin-bottom: 15px;
}

.offers p {
  margin: 0;
  font-size: 18px;
}

.raspberry-bonus {
  box-sizing: border-box;
  width: 560px;
  height: 230px;
  margin: 0;
  padding-top: 16px;
  padding-left: 19px;
  padding-right: 22px;
  background-image: url("../img/raspberry-background.png");
  background-repeat: no-repeat;
}

.chocolate-bonus {
  box-sizing: border-box;
  width: 560px;
  height: 230px;
  margin: 0;
  padding-top: 16px;
  padding-left: 19px;
  padding-right: 22px;
  background-image: url("../img/chocolate-background.png");
  background-repeat: no-repeat;
}

.bonus-button {
  height: 45px;
  border-radius: 50px;
  font-size: 18px;
  line-height: 24px;
  margin-top: 45px;
}

.raspberry-bonus .bonus-button {
  width: 165px;
  padding-left: 5px;
  padding-bottom: 5px;
  margin-left: 355px;
}

.chocolate-bonus .bonus-button {
  width: 189px;
  padding-left: 2px;
  padding-bottom: 6px;
  margin-left: 331px;
}

.hit-catalog {
  display: flex;
  justify-content: space-between;
  width: 1146px;
  height: 322px;
  margin-bottom: 40px;
}

.hit-item {
  padding: 0;
  margin: 0;
  width: 267px;
  position: relative;
}

.hit-item::before {
  content: "";
  position: absolute;
  width: 61px;
  height: 61px;
  background-image: url("../img/hit.svg");
  top: 0;
  left: 0;
  z-index: 1;
}

.hit-item-pic {
  position: absolute;
}

.hit-item-text {
  position: absolute;
  top: 220px;
}

.hit-item-text p {
    text-align: center;
    margin-top: 27px;
}

.hit-item-text b,
.catalog-item b {
  font-size: 45px;
  text-shadow: 1px 1px 1px #323232;
}

.ruble {
  font-size: 44px;
  padding-left: 3px;
  padding-right: 1px;
}

.kilo {
  font-size: 32px;
}

.hit-item-text p,
.catalog-item p {
  font-weight: 500;
}

.about-us,
.main-index-footer,
.news a,
.adress {
  color: #323232;
}

.about-us {
  box-sizing: border-box;
  width: 1146px;
  height: 310px;
  background-image: url("../img/waffle-background.png");
  background-repeat: no-repeat;
  margin-bottom: 36px;
}

.about-us h2 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  padding-top: 25px;
  padding-left: 19px;
  margin: 0;
  margin-bottom: 21px;
}

.facts {
  display: flex;
  flex-wrap: wrap;
}

.about-us p {
  box-sizing: border-box;
  width: 560px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 23px;
}

.production-fact {
  position: relative;
  padding-left: 75px;
}

.production-fact::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  background-image: url("../img/ice-cream.svg");
  background-repeat: no-repeat;
  top: -13px;
  left: 20px;
}

.ingredient-fact {
  position: relative;
  padding-left: 83px;
}

.ingredient-fact::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  background-image: url("../img/cow.svg");
  background-repeat: no-repeat;
  top: -13px;
  left: 25px;
}

.milk-fact {
  position: relative;
  padding-left: 75px;
}

.milk-fact::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  background-image: url("../img/eco.svg");
  background-repeat: no-repeat;
  top: -13px;
  left: 20px;
}

.delivery-fact {
  position: relative;
  padding-left: 83px;
}

.delivery-fact::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  background-image: url("../img/thermometer.svg");
  background-repeat: no-repeat;
  top: -13px;
  left: 25px;
}

.main-index-footer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.news {
  box-sizing: border-box;
  width: 560px;
  height: 230px;
  margin: 0;
  padding: 0;
  padding-top: 23px;
  padding-left: 19px;
  padding-right: 22px;
  background-image: url("../img/strawberry-background.png");
  background-repeat: no-repeat;
}

.news h4 {
  font-weight: 400;
  margin: 0;
  padding: 0;
  margin-bottom: 3px;
}

.news a {
  font-size: 24px;
  line-height: 30px;
}

.subscription {
  box-sizing: border-box;
  width: 560px;
  height: 230px;
  margin: 0;
  background-image: url("../img/post-background.png");
  background-repeat: no-repeat;
}

.subscription-form {
  box-sizing: border-box;
  width: 550px;
  height: 210px;
  padding-top: 13px;
  padding-left: 22px;
  padding-right: 22px;
  margin: 5px;
  border-radius: 10px;
  background-color: #f8f7f4;
}

.subscription-form p {
  font-weight: 400;
  margin-bottom: 35px;
}

input[name="sub-email"] {
  box-sizing: border-box;
  width: 366px;
  height: 44px;
  border: 1px solid #d3d3d2;
  border-radius: 7px;
  padding-left: 10px;
  margin-right: 7px;
}

.send-button {
  width: 129px;
  height: 45px;
  border-radius: 50px;
  padding-left: 8px;
  padding-bottom: 3px;
  font-size: 18px;
  line-height: 24px;
}

.breadscrumbs-menu {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}

.breadscrumbs-menu a,
.paginator a {
  text-decoration: none;
  color: #ffffff;
}

.catalog-main h1 {
  font-size: 35px;
  line-height: 41px;
}

.filter-label {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.filters p {
  line-height: 18px;
  font-weight: 500;
}

.filter-button {
  line-height: 18px;
  font-weight: 500;
}

.paginator {
  line-height: 18px;
  font-weight: 500;
}

.index-footer {
  font-size: 14px;
  font-weight: 400;
}

.map {
  position: relative;
  height: 430px;
}

.interactive-map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 430px;
  border: none;
}

.adress {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 62px;
  right: 259px;
  width: 302px;
  height: 305px;
  background-color: #ffffff;
  border-radius: 10px;
  padding-top: 30px;
  padding-left: 25px;
  padding-right: 20px;
}

.adress h5,
.adress span {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  margin: 0;
}

.adress p + h5 {
  margin-bottom: 6px;
}

.telephone {
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 2px;
}

.adress p {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 18px;
}

.adress span {
  margin-bottom: 25px;
}

.feedback-button {
  width: 250px;
  height: 45px;
  border-radius: 50px;
  font-size: 18px;
  line-height: 24px;
  padding-bottom:5px;
  margin: 0;
}

.modal-window {
  position: fixed;
  top: 25%;
  left: 25%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 477px;
  height: 442px;
  border-radius: 10px;
  background-color: #f8f7f4;
  padding: 0;
  margin: 0;

  padding-bottom: 27px;
  padding-left: 24px;
  z-index: 2;
}

.modal-window-header {
  display: flex;
}

.modal-window-label {
  color: #323232;
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  margin-top: 16px;
}

.close-button {
  width: 20px;
  height: 20px;
  border: none;
  background: url("../img/cross-big.svg") 50% 50% no-repeat;
  margin-left: 70px;
  margin-top: 13px;
  cursor: pointer;

}

.name-field,
.modal-email-field {
  box-sizing: border-box;
  width: 267px;
  height: 44px;
  border-radius: 5px;
  border: 1px solid #d3d3d2;
  padding-left: 14px;
}

.comment-field {
  box-sizing: border-box;
  width: 428px;
  height: 155px;
  border-radius: 5px;
  border: 1px solid #d3d3d2;
  padding-top: 13px;
  padding-left: 14px;
}

.modal-window-button {
  align-self: flex-end;
  width: 138px;
  height: 44px;
  border-radius: 50px;
  font-size: 18px;
  line-height: 24px;
  margin-top: 6px;
  margin-right: 25px;
}

.footer-flex-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.social-list {
  display: flex;
  margin-left: 2px;
  margin-top: 35px;
  margin-right: 10px;
}

.social {
  width: 32px;
  height: 32px;
  border: 2px solid #c2cec7;
  border-radius: 50%;
  margin-right: 12px;
}

.twitter {
  background-image: url("../img/twitter.svg");
  background-repeat: no-repeat;
}

.instagram {
  background-image: url("../img/instagram.svg");
  background-repeat: no-repeat;
}

.facebook {
  background-image: url("../img/fb.svg");
  background-repeat: no-repeat;
}

.vk {
  background-image: url("../img/vk.svg");
  background-repeat: no-repeat;
}

.info {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  line-height: 18px;
  margin-top: 33px;
}

.left-column-info,
.right-column-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 40px;
}

.left-column-info {
  margin-right: 32px;
}

.info a {
  color: #ffffff;
  padding: 0;
  margin: 0;
}

.info a:hover,
.info a:active,
.copyright a:hover,
.copyright a:active {
  color: #ffbc9e;
}

.providers {
  position: relative;
}

.providers::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background-image: url("../img/heart.svg");
  background-repeat: no-repeat;
  top: 3px;
  right: 118px;
}

.copyright {
  display: flex;
  flex-direction: column;
  width: 180px;
  height: 60px;
  font-size: 12px;
  line-height: 18px;
  margin-top: 17px;
  margin-right: 8px;
}

.copyright a,
.htmlacademy-logo,
.copyright p {
  color: #fff;
  padding: 0;
  margin: 0;
}
