body {
  min-width: 1200px;
  background-color: #849d8f;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  color: #ffffff;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.main-header,
.slider,
.index-main,
.catalog-main,
.index-footer {
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
}

.cite-navigation,
.user-navigation,
.breadscrumbs-menu,
.social-list {
  list-style-type: none;
}

.add-button,
.add-bonus,
.send-button,
.feedback-button,
.filter-button {
  color: #ffffff;
}

.main-navigation {
  display: flex;
  padding-top: 10px;
}

.cite-navigation {
  display: flex;
  line-height: 18px;
}

.user-navigation {
  display: flex;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.slider {
  position: relative;
  height: 575px;
}

.time-contact {
  display: flex;
  flex-direction: column;
  margin-left: 950px;
  margin-bottom: 250px;
}

.work-hours {
  font-size: 14px;
  line-height: 16px;
}

.telephone {
  font-size: 22px;
  line-height: 24px;
}

.slide1 {
  position: absolute;
  width: 1200px;
  height: 575px;
  background-image: url("../img/ice-cream1.png"),
                    url("../img/ice-cream2.png");
  background-repeat: no-repeat;
  background-position: 250px 10px,
                       565px 53px;
}

.slide2 {
  position: relative;
  width: 1200px;
  height: 575px;
  visibility: hidden;
}

.slide3 {
  position: relative;
  width: 1200px;
  height: 575px;
  visibility: hidden;
}

.slider {
  text-align: center;
}

.slider p {
  font-size: 60px;
  line-height: 60.35px;
}

.slider .add-button {
  font-size: 32px;
  line-height: 44px;
}

.offers {
  display: flex;
  background-image: url("../img/ice-cream1.png");
  background-repeat: no-repeat;
  background-position: 250px -565px;
}

.offers h3 {
  font-size: 24px;
  line-height: 30px;
}

.offers p {
  font-size: 18px;
}

.raspberry-bonus {
  width: 830px;
  height: 230px;
  padding: 20px;
  background-image: url("../img/raspberry-background.png");
  background-repeat: no-repeat;
}

.chocolate-bonus {
  width: 830px;
  height: 230px;
  padding: 20px;
  background-image: url("../img/chocolate-background.png");
  background-repeat: no-repeat;
}

.add-bonus {
  font-size: 18px;
  line-height: 24px;
}

.hit-catalog {
  display: flex;
}

.hit-item b,
.catalog-item b {
  font-size: 32px;
}

.kilo {
  position: relative;
  padding-left: 32px;
}

.kilo::before {
  content: "";
  position: absolute;
  width: 32px;
  height: 32px;
  background-image: url("../img/ruble.svg");
  background-repeat: no-repeat;
  top: 0;
  left: 0;
}

.hit-item p,
.catalog-item p {
  font-weight: 500;
}

.about-us h2 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.about-us p {
  font-weight: 400;
}

.news h4 {
  font-weight: 400;
}

.news p {
  font-size: 24px;
  line-height: 30px;
}

.subscription p {
  font-weight: 400;
}

.send-button {
  font-size: 18px;
  line-height: 24px;
}

.breadscrumbs-menu {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}

.breadscrumbs-menu a,
.paginator a {
  text-decoration: none;
  color: #ffffff;
}

.catalog-main h1 {
  font-size: 35px;
  line-height: 41px;
}

.filter-label {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.filters p {
  line-height: 18px;
  font-weight: 500;
}

.filter-button {
  line-height: 18px;
  font-weight: 500;
}

.paginator {
  line-height: 18px;
  font-weight: 500;
}

.adress h5,
.adress span {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.feedback-button {
  font-size: 18px;
  line-height: 24px;
}

.index-footer {
  font-size: 14px;
  font-weight: 400;
}
